#calendarContainer {
  background-color: lightpink;
  width: 440px;
  height: 450px;
  position: relative;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  left: 40%;
  top: -40%;
  z-index: 2;
}

.calendarInfo {
  background-color: lightblue;
  width: 440px;
  height: 450px;
  position: relative;
  left: 40%;
  top: -85%;
  border-radius: 25px;
  transition: translateY(-50%);
  z-index: 1;
  overflow: auto;
  overflow-x: hidden;
}

.calendarContainer {
  display: grid;
  grid-template-columns: repeat(3, 100px); /* 3열 각각 100px 너비 */
  grid-template-rows: auto; /* 자동 행 크기 */
  gap: 30px; /* 그리드 간격 */
  justify-content: center; /* 중앙 정렬 */
  align-items: center; /* 세로 방향 중앙 정렬 */
  padding: 10px;
  overflow: auto;
  width: "*%";
}

.calendarInfo .movie {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 100px; /* 아이템 너비 */
  height: 200px; /* 아이템 높이 */
  /* background-color: #e1e1e1;  */
  /* border: 1px solid #ddd;  */
  margin: auto; /* 가운데 정렬 */
}

.calendarInfo .changeBtn {
  position: relative;
  top: 2%;
  left: 43%;
  width: 64px;
}

.calendarInfo img {
  width: 100px;
  height: 150px;
}

.calendarTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.monthYear {
  text-align: center;
  width: 150px;
}

.calendarTitle button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day {
  text-align: center;
  padding: 5px;
}

.dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.date {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  margin: auto;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: 0.2s;
}

.date:hover,
.date.active {
  background-color: cadetblue;
  color: #fff;
}

.date.inactive {
  color: #d2d2d2;
}

.date.inactive:hover {
  color: #fff;
}

.event {
  position: relative;
}

.event::before {
  content: "";
  position: absolute;
  top: 5px;
  right: 5px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: red;
}

#today {
  position: relative;
  border-radius: 20px;
  top: 10%;
  width: 60px;
  height: 30px;
  left: 80%;
  text-align: center;
}

.title h3 {
  position: relative;
  margin: 0;
  left: 4%;
  padding: 10px 10px 10px 0px; /*위 아래 오른쪽 왼쪽*/
}

.title .line {
  border: 1px solid grey;
  width: 400px;
  position: relative;
  left: 4%;
}
