<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gamja_farm.mapper.ReviewMapper">

	<!-- 페이지 카운트 -->
	<select id="countpage" resultType="int">
		SELECT count(*) From user_review
	</select>


	<!-- 리스트가지고오기 -->
	<select id="viewList" resultType = "ReviewDTO" parameterType="reviewPageDTO">
		SELECT *
		FROM user_review 
		ORDER BY user_review.idx DESC
		LIMIT #{startRow}, #{blockCount}
	</select>

	<!-- LIMIT #{startRow}, #{blockCount} 기존에 있던내용 몰라서 빼놓음-->

	<!--글 작성하기 -->
	<insert id="saveReview" parameterType="reviewDTO">
		INSERT INTO user_review (user_id, movie_code, review)  
		VALUES(#{user_id}, #{movie_code}, #{review}) 
	</insert>

	<!-- 조회수 올리기 -->
	<update id="readcount" parameterType="int">
		UPDATE user_review
		SET view_cnt = view_cnt +1
		WHERE idx = #{idx}
	</update>


	<!-- 리뷰내용 확인 -->
	<select id="showContent" parameterType="int" resultType="ReviewDTO"> 
		SELECT * FROM user_review
		WHERE idx=#{idx}
	</select>

	<!-- 게시글 수정 -->
	<update id="updateReview" parameterType="ReviewDTO"> 
		UPDATE user_review
		SET review=#{review}
		WHERE idx=#{idx}
	</update>

	<!-- 리뷰 삭제-->
	<delete id="deleteReview" parameterType="int"> 
		DELETE FROM user_review 
		WHERE idx=#{idx}
	</delete>

</mapper>