.options-button {
  padding: 0.5rem;
  border-radius: 25px;
  background: #efefef;
  border: 1px solid #000000;
  margin: 3px;
}

.options-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  /*상단에 버튼 고정하기위해 추가*/
  position: sticky; /* 상단에 버튼 고정*/
  top: 0;
  z-index: 1; /* z-index 값을 설정하여 다른 요소들 위에 표시 */
}
